* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80vw;
  height: 70vh;
  background-color: blue;
  position: relative;
}
@keyframes animation-x {
  from {
    left: 0vw;
  }
  to {
    left: 74vw;
  }
}

@keyframes animation-y {
  from {
    bottom: 30vh;
  }
  to {
    bottom: 70vh;
  }
}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50px;
  position: fixed;
  bottom: 30vh;
  animation: animation-x 5s linear infinite,
    animation-y 1s ease-out infinite alternate;
}
